---
# tasks file for role_nutanix_pc_svc_flow_adv_net
- name: Setup connection to Nutanix API
  ansible.builtin.include_role:
    name: grdavies.role_nutanix_prism_api
  vars:
    role_nutanix_prism_api_host: "{{ role_nutanix_pc_svc_flow_adv_net_host }}"
    role_nutanix_prism_api_username: "{{ role_nutanix_pc_svc_flow_adv_net_username }}"
    role_nutanix_prism_api_password: "{{ role_nutanix_pc_svc_flow_adv_net_password | default(omit) }}"
    role_nutanix_prism_api_port: "{{ role_nutanix_pc_svc_flow_adv_net_port | default(omit) }}"
    role_nutanix_prism_api_validate_certs: "{{ role_nutanix_pc_svc_flow_adv_net_validate_certs | default(omit) }}"
    role_nutanix_prism_api_debug: "{{ role_nutanix_pc_svc_flow_adv_net_debug | default(omit) }}"

- name: "Task can only be run against Prism Central"
  ansible.builtin.fail:
    msg:
      "'role_nutanix_pc_svc_flow_adv_net_host' needs to be set to the IP or VIP of Prism Central. \
      Please check the role_nutanix_pc_svc_flow_adv_net_host variable and try again."
  when:
    - role_nutanix_prism_api_endpoint_type != 'pc'

- name: Get current Flow Advanced Networking State
  include_tasks: get_state.yml

- name: Check Flow Advanced Networking Pre-Reqs
  ansible.builtin.include_tasks: check_prereqs.yml
  when:
    - role_nutanix_pc_svc_flow_adv_net_enable | default(false)
    - role_nutanix_pc_svc_flow_adv_net_state | lower != 'enabled'

- name: Enable Flow Advanced Networking
  ansible.builtin.include_tasks: enable_service.yml
  when:
    - role_nutanix_pc_svc_flow_adv_net_enable | default(false)
    - role_nutanix_pc_svc_flow_adv_net_state | lower != 'enabled'
